<!DOCTYPE html>
<html lang="en-us">
  <head>
    <meta charset="utf-8">

    {{{block "meta"}}}

    <title>SVG Sprites</title>

    {{{block "stylesheets"}}}
  </head>
  <body>
    {{{body}}}

    {{{block "scripts"}}}
  </body>
</html>


