
.no-svg .fallback-icon-bomb {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

.no-svg .fallback-icon-chainsaw {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

.no-svg .fallback-icon-fire {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

.no-svg .fallback-icon-gun {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

.no-svg .fallback-icon-molatov {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

.no-svg .fallback-icon-skull {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

.no-svg .fallback-icon-tank {
  background-image: url(/img/icons/dist/icons-fallback.png);
  background-position: 0px 0px;
  display: inline-block;
  width: 0px;
  height: 1px;
}

