{{#extend "stylesheets"}}
  <link rel="stylesheet" href="/css/basscss.min.css">
  <link rel="stylesheet" href="/css/semantic-ui-icons.css">
  <link rel="stylesheet" href="/css/main.css">
  <link rel="stylesheet" href="/css/icons-fallback.css">
{{/extend}}

{{#extend "meta"}}
  <script src="/js/modernizr.js"></script>
{{/extend}}

<main class="col-8 mx-auto">
  <header class="center">
    <h1 class="h1 title giant inline-block">Cherry</h1>
    <div class="giant inline-block vertical-align-bottom">
      {{> icons/bomb}}
    </div>
  </header>

  <p>
    <span class="left p2">
      {{> icons/molatov}}
    </span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nobis quibusdam, maiores similique veniam! Autem reprehenderit quas, perferendis cumque, fugit reiciendis vitae totam, recusandae voluptates sunt repellendus obcaecati nesciunt at. Mollitia libero dolorem consequuntur atque magni molestiae distinctio quasi, nulla temporibus hic veniam officia corporis ullam ut reprehenderit ab magnam quaerat consectetur dicta necessitatibus eligendi laboriosam eum. Voluptatibus praesentium totam, distinctio nam sunt dolorum consequatur? Provident nemo blanditiis, quae obcaecati deserunt maiores. Porro blanditiis molestias ipsum!
  </p>

  <p>
    <span class="right p2">
      {{> icons/skull}}
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Exercitationem quo iste asperiores porro quibusdam eaque dolores, odit repudiandae officia praesentium minima dolorem magnam. Molestias animi alias labore odit at beatae laudantium consequuntur a quisquam tenetur id aperiam eaque quia, perspiciatis aut? Earum dolore saepe modi error delectus asperiores nihil adipisci vel omnis corrupti doloremque aliquid natus recusandae magnam aspernatur debitis excepturi, est veniam dolor mollitia facilis officiis! Iure facilis, dolorem maiores, ipsa incidunt inventore dolorum!
    </span>
  </p>

  <p>
    <div class="m2 jumbo center">
      {{> icons/tank}}
    </div>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iste aliquam aut voluptate, voluptates ut dicta id, hic fuga commodi reiciendis quidem saepe accusamus modi similique rem aperiam sapiente vel dolore pariatur? Exercitationem deserunt voluptate placeat minus. Iusto labore provident, itaque numquam quae similique deserunt, consectetur non consequuntur animi tempora id.
  </p>

  <p>
    <span class="left p2">
      {{> icons/chainsaw colorOption="icon-red"}}
    </span>
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, voluptatibus nesciunt quo! Nesciunt repudiandae deleniti repellendus consequuntur nostrum eveniet enim alias, numquam, aliquid voluptates, temporibus rerum maxime praesentium eaque sapiente magni tenetur consequatur illum exercitationem. Ullam, consequuntur est officiis optio.
  </p>

</main>
